<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre nosotros</title>
    <%- include('partials/head') %>
  </head>
  <body>
    <!--NAVIGATIONS-->
    <%- include('partials/navigation') %>
    <!--MAIN CONTENT-->

    <div style="text-align: center; color: white" class="content">
      <img
        src="/img/odstore.jpg"
        alt="OD STORE HOME"
        width="30%"
        height="30%"
      />
      <p>
        OD STORE es tu destino online ideal para productos variados y tácticos
        de alta calidad. Fundada con la misión de ofrecer una experiencia de
        compra excepcional, nuestra tienda ofrece una amplia gama de productos,
        desde gadgets electrónicos y artículos de moda hasta equipamiento para
        actividades al aire libre y ropa táctica diseñada para la durabilidad.
        En OD STORE, priorizamos la calidad, confiabilidad y atención al
        cliente, asegurando que cada producto cumpla con los más altos
        estándares. Navega fácilmente en nuestro sitio web, disfruta de opciones
        de pago seguras y recibe tus compras rápidamente en la puerta de tu
        casa.
      </p>
    </div>

    <!--FOOTER-->
    <%- include('partials/footer') %>
  </body>
</html>
