<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contáctanos</title>
    <%- include('partials/head') %>
  </head>
  <body>
    <!--NAVIGATIONS-->
    <%- include('partials/navigation') %>
    <!--MAIN CONTENT-->
    <br /><br /><br />
    <div class="content" style="text-align: center">
      <div>
        <p style="color: white">Puede comunicarse con nosotros a través de:</p>
      </div>
      <br />
      <div>
        <img
          width="5%"
          height="5%"
          src="/img/iconos/instagram.png"
          alt="instagram"
        /><br /><br />
        <p style="color: white">
          Instagram:
          <a href="https://www.instagram.com/odstore.ec/" target="_blank"
            >odstore.ec
          </a>
        </p>
      </div>
      <br /><br />

      <div>
        <img
          width="5%"
          height="5%"
          src="/img/iconos/whatsapp.png"
          alt="whatsapp"
        /><br /><br />
        <p style="color: white">
          WhatsApp:
          <a href="https://wa.me/593979211756" target="_blank"
            >+593 97 921 1756</a
          >
        </p>
      </div>
      <br /><br />

      <div>
        <img
          width="5%"
          height="5%"
          src="/img/iconos/correo.png"
          alt="correo"
        /><br /><br />
        <p style="color: white">Correo: cerezodaniel13@gmail.com</p>
      </div>
    </div>
    <br /><br /><br /><br />

    <!--FOOTER-->
    <%- include('partials/footer') %>
  </body>
</html>
