<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<footer
  style="margin-bottom: 0%; color: white"
  class="bg-black text-center p-2"
>
  <p class=""><i> Sistema creado por Emilio Beltrán.</i></p>
</footer>
