<nav class="navbar navbar-expand-lg bg-black navbar-dark">
  <div class="container">
    <a href="/login" style="width: 5%; height: 5%; margin-right: 0px"
      ><img
        style="width: 100%; height: 100%; margin-right: 0px"
        src="/img/odstorem.jpg"
        alt="odstore"
    /></a>

    <a class="navbar-brand" href="/">OD STORE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/carrito"
            >Carrito</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contáctanos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
